.header_nav {
  background-color: var(--black);
  box-shadow: 0px 5px 7px 0px var(--dark-gray);
  -webkit-box-shadow: 0px 5px 7px 0px var(--dark-gray);
  -moz-box-shadow: 0px 5px 7px 0px var(--dark-gray);
  z-index: 1;
}
.logo {
  width: 60%;
}
.navbar_toggler {
  background-color: var(--dark-gray);
}

@media (min-width: 992px) {
  .nav_link_min_992px {
    margin-right: 30px;
  }
  .playNow_btn_width_min_992px {
    width: unset !important;
    margin-top: unset !important;
  }
}

@media (min-width: 320px) {
  .logo {
    width: 80%;
  }
}
