.header_background {
  background-color: var(--black) !important;
}
.header_brand_logo {
  width: 14%;
}
.header_brand_logo_img {
  width: 100px;
}
.nav_icon {
  color: var(--light-gray);
}
.nav_item {
  text-align: center;
  transition: 0.3s all ease-in-out;
}
.nav_item:hover {
  background-color: var(--light-gray);
}
.nav_link {
  color: var(--light-gray);
  text-transform: capitalize;
  font-family: "Tungsten-Semibold";
  letter-spacing: 2px;
  font-size: 20px;
  transition: 0.3s all ease-in-out;
}
.nav_link:hover {
  color: var(--red);
}

@media (max-width: 1200px) {
  .header_brand_logo_img {
    width: 80px;
  }
}
