.news_section {
  position: relative;
  margin: 0;
  padding: 0;
}
.news_section::before {
  content: "";
  position: absolute;
  top: -37px;
  left: -39px;
  width: 75px;
  height: 75px;
  background-color: var(--light-gray);
  transform: rotate(45deg);
}
.news_section_container {
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.news_section_container_background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: var(--light-gray);
  z-index: -2;
  padding: 0px 25px;
}
.news_section_container_background span {
  color: var(--light-gray);
  text-shadow: 0 0 3px #000;
  background-color: transparent;
  font-size: 20rem;
  font-weight: bolder;
  opacity: 0.2;
  line-height: 235px;
}
.news_section_container_points {
  position: absolute;
  top: 0;
  width: 100%;
  height: 120px;
  z-index: -1;
}
.news_section_container_points::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 48%;
  width: 8px;
  height: 8px;
  background-color: var(--red);
}
.news_section_container_points::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 48%;
  width: 8px;
  height: 8px;
  background-color: var(--red);
}
.news_section .main_container {
  padding: 50px 0px;
  border-left-color: var(--gray);
  border-right-color: transparent;
}
.news_section_container_header {
  position: relative;
  text-align: end;
}
.news_anchor {
  color: var(--red);
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}
.news_anchor:hover {
  color: var(--red);
}
.news_anchor svg {
  transform: translateX(5px);
  transition: 0.3s all ease-in-out;
}
.news_anchor:hover svg {
  transform: translateX(15px);
}
.news_header {
  position: absolute;
  top: -14px;
  left: 0;
  color: var(--red);
  font-size: 120px;
  font-family: "Tungsten-Bold";
  z-index: 2;
}
.news_section_container_content {
  margin-top: 50px;
}
.news_section_container_content .swiper {
  width: 100%;
  height: 100%;
}

.news_section_container_content .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.news_section_card_img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news_section_card_anchor,
.news_section_card_anchor:hover {
  color: unset;
}
.news_section_card_img_container {
  position: relative;
  overflow: hidden;
}
.news_section_card_img_container::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -27px;
  width: 0%;
  transition: 0.2s all ease-in-out;
  background-color: var(--red);
  transform: skewX(-10deg);
  mix-blend-mode: multiply;
}
.news_section_card_anchor:hover .news_section_card_img_container::before {
  width: 120%;
}
.news_section_card_date_cate_container .date {
  font-size: 10px;
  font-weight: bold;
  color: var(--black);
}
.news_section_card_date_cate_container .cate {
  color: var(--red);
}
.news_section_card_header_container h3 {
  font-size: 20px;
  color: var(--black);
  font-weight: bold;
}
@media (max-width: 1200px) {
  
  .news_section_container_background span {
    font-size: 9rem;
  }
}
@media (max-width: 991px) {
  
  .news_header {
    top: 0px;
    font-size: 90px;
  }
}
@media (max-width: 767px) {
  
  .news_section_container_background span {
    font-size: 8rem;
  }
  .news_section::before {
    left: -52px;
  }
  .news_section_container_points {
    height: 50px;
  }
  .news_section_container_header {
    text-align: unset;
  }
  .news_header {
    position: unset;
    font-size: 60px;
  }
  .news_section_container_content {
    margin-top: 25px;
  }
}
@media (max-width: 575px) {
  
  .news_section::before {
    left: -61px;
  }
  .news_section_container_background span {
    font-size: 9rem;
  }
  .news_section_container_points::before {
    left: 40%;
  }
  .news_section_container_points::after {
    right: 40%;
  }

}
@media (max-width: 375px) {
   .news_section_container_background span {
    font-size: 76px;
    line-height: 133px;
  }
}
