.hero {
  height: 625px;
  background-image: url("/assets/images/splash-art/da2eri.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.hero_content {
  z-index: 0;
}

.hero_content_image {
  width: 60%;
}
.play_now {
  width: 50%;
  margin: auto;
  background-color: var(--red);
}
@media (min-width: 992px) {
  .hero_content_image {
    width: 30%;
  }
  .play_now {
    width: 15% !important;
  }
}
