.agents_section {
  position: relative;
  background-color: var(--red);
  background-image: url(../../public/assets/images/bgofagents2.png);
}
.agents_section::before {
  content: "";
  position: absolute;
  top: -23px;
  left: -26px;
  width: 170px;
  height: 84px;
  background-color: var(--red);
  transform: rotate(15deg);
}
.agents_section_top_bg {
  position: absolute;
  height: 15px;
  top: 80px;
  width: 100%;
  background-image: url(../../public/assets/images/bgofagents.png);
}
.agents_section .main_container {
  position: relative;
  padding: 100px 0px;
  border-left-color: var(--light-gray);
  border-right-color: transparent;
  z-index: 2;
}

.agents_section_left_image {
  width: 90%;
}
.agents_section_right_content {
  padding: 45px 0px;
  border-top: 2px solid var(--light-gray);
}
.agents_section_header {
  font-family: "Tungsten-Bold";
  font-size: 135px;
  line-height: 100px;
  color: var(--light-gray);
}
.agents_section_title {
  color: var(--light-gray);
  font-size: 20px;
  font-weight: bold;
  margin: 35px 0;
}
.agents_section_para {
  margin-bottom: 50px;
  font-weight: 600;
  color: var(--light-gray);
}
.agents_section_content_agents_container .agents_section_btn_border {
  margin: unset;
  margin-left: auto;
}
.agents_section_content_agents_container .agents_section_primary_btn {
  background: var(--light-gray);
  color: var(--black);
  padding: 17px 80px;
}
.agents_section_content_agents_container .agents_section_primary_btn:hover {
  color: var(--light-gray);
}
@media (max-width: 1200px) {
  .agents_section_content_agents_container .agents_section_primary_btn {
    padding: 17px 55px;
  }
}
@media (max-width: 991px) {
  .agents_section_header {
    font-size: 100px;
    line-height: 72px;
  }
  .agents_section_title {
    font-size: 18px;
    margin: 20px 0;
  }
  .agents_section_para {
    margin-bottom: 35px;
  }
  .agents_section_content_agents_container .agents_section_btn_border {
    margin-left: unset;
  }
  .agents_section_content_agents_container .agents_section_primary_btn {
    padding: 10px 39px;
  }
}
@media (max-width: 767px) {
  .agents_section .main_container {
    padding: 10px 0px;
  }
  .agents_section_left_content {
    text-align: center;
  }
  .agents_section_right_content {
    padding: 10px 0px;
    margin: 50px 22px;
  }
  .agents_section_content_agents_container .agents_section_btn_border {
    margin-left: unset;
    margin: auto;
  }
  .agents_section_content_agents_container .agents_section_primary_btn {
    padding: 5px 50px;
  }
}
@media (max-width: 575px) {
  .agents_section_right_content {
    margin: 30px 14px;
  }
}
@media (max-width: 375px) {
  .agents_section_right_content {
    padding: 0;
    margin: 30px 7px;
  }
  .agents_section_header {
    font-size: 60px;
    line-height: 55px;
  }
  .agents_section_title {
    margin: 3px 0;
    font-size: 16px;
  }
}
